@media only screen and (min-width: 2880px) {
  .menu-image {
    height: 295px;
  }
  ul.menu.nav li a {
    padding: 260px 10px 15px;
  }
  .link-field-url.link-field-column {
    width: 92%;
  }
  div#edit-field-news-source {
    width: 49%;
    float: right;
  }
  input#edit-field-news-source-und {
    padding-right: 260px;
  }
/*  section#block-block-3 {
    height: 115px;
  }*/
  .input-group {
    width: 100%;
    float: right;
  }
  li.sub-hashtg {
    display: none;
  }
  section#block-block-3 img.img-responsive {
    width: 600px;
  }
}
@media only screen and (min-width: 1991px) and (max-width: 2879px) {
  /** Purple **/
  body {
    /*background-color: purple;/*Breakpoint-colour*/
  }
/*  section#block-block-3 {
    height: 115px;
  }*/
  .input-group {
    width: 100%;
    float: right;
  }
  li.sub-hashtg {
    display: none;
  }
  section#block-block-3 img.img-responsive {
    width: 600px;
  }
}
@media only screen and (min-width: 1920px) and (max-width: 1990px) {
  .menu-image {
    height: 200px;
  }
  ul.menu.nav li a {
    padding: 165px 10px 15px;
  }
/*  section#block-block-3 {
    height: 115px;
  }*/
  li.sub-hashtg {
    display: none;
  }
  section#block-block-3 img.img-responsive {
    width: 600px;
  }
}
@media only screen and (min-width: 1600px) and (max-width: 1919px) {
  /** Red **/
  body {
    /*background-color: red;/*Breakpoint-colour*/
  }
  .box {
    margin-top: 12%;
  }
/*  section#block-block-3 {
    height: 115px;
  }*/
  li.sub-hashtg {
    display: none;
  }
  section#block-block-3 img.img-responsive {
    width: 600px;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1599px) {
  /** Brown **/
  body {
    /*background-color: brown;/*Breakpoint-colour*/
  }
/*  section#block-block-3 {
    height: 105px;
  }*/
  li.sub-hashtg {
    display: none;
  }
  section#block-block-3 img.img-responsive {
    width: 600px;
  }
  section#block-block-3 img.img-responsive {
    width: 600px;
  }
}
@media only screen and (max-width: 1200px) {
  /** Teal **/
  body {
    /*background-color: teal;/*Breakpoint-colour*/
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1199px) {
  /** Purple **/
  body {
    /*background-color: purple;/*Breakpoint-colour*/
  }
/*  section#block-block-3 {
    height: 85px;
  }*/
  li.sub-hashtg {
    display: none;
  }
  section#block-block-3 img.img-responsive {
    width: 495px;
  }
}
@media only screen and (min-device-width: 990px) and (max-device-width: 1023px) {
  /** Green **/
  body {
    /*background-color: green;/*Breakpoint-colour*/
  }
/*  section#block-block-3 {
    height: 80px;
  }*/
  li.sub-hashtg {
    display: none;
  }
  section#block-block-3 img.img-responsive {
    width: 495px;
  }
  .social-icons a {
    padding: 0 5px !important;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 989px) {
  /** Orange **/
  body {
    /*background-color: orange;/*Breakpoint-colour*/
  }
/*  .sticky.navigation-div {
    width: 16.88%;
  }*/
/*  .sticky #block-menu-menu-news-category {
    width: 75% !important;
  }*/
  .sticky #block-views-c667b362118e17fd8cb3ca51b4e7cd10 {
    width: 16.88%;
    top: 68px;
    right: 0;
  }
  section#block-block-13 {
    margin: 10px auto 0px;
  }
  section#block-block-3 img.img-responsive {
    width: 380px;
  }
/*  section#block-block-3 {
    height: 70px;
  }*/
  .footer_bottom .region.region-footer-bottom p {
    margin-top: 0px;
    text-align: center;
  }
  .footer_bottom ul.cntct-menu {
    float: none;
    margin: 0 auto;
    width: max-content;
  }
  li.sub-hashtg {
    display: none;
  }
/*  .navigation-div {
    display: none;
  }*/
  .social-icons a {
    padding: 0 0.5px !important;
  }
  .register-footer h5:last-child {
    width: 80%;
  }
}
@media only screen and (min-device-width: 480px) and (max-device-width:767px) {
  /** Green **/
  body {
    /*background-color: green;/*Breakpoint-colour*/
  }
  .navbar-header h4 {
    text-align: center;
  }
  .navbar-header b {
    float: none;
  }
  .logged-in .navbar-header {
    position: absolute;
    top: -195px;
  }
  .not-logged-in .navbar-header {
    position: absolute;
    top: -160px;
  }
  section#block-block-3 {
    margin-top: 75px !important;
    height: 70px;
  }
  section#block-block-3 img.img-responsive {
    width: 410px;
  }
  section#block-views-hashtags-listing-popular-tags h2.block-title {
    display: none;
  }
  .navigation-div .region.region-navigation .responsive-menus span.toggler {
    float: right;
    margin-top: -70px;
    width: 40px;
    margin-right: 10px;
    background: #fff;
    color: #212121;
    border-radius: 0;
    box-shadow: none;
    font-weight: bold;
    font-size: 22px;
  }
  .footer_bottom .region.region-footer-bottom p {
    margin-top: 0px;
    text-align: center;
  }
  .footer_bottom ul.cntct-menu {
    float: none;
    margin: 0 auto;
    width: max-content;
  }
  a.sidebar-arrow {
    display: block;
/*    position: relative;
    left: 55px;
    float: right;
    top: -80px;*/
    font-size: 20px;
  }
  .sliding-bar {
    background: #ffffff;
    border: 1px solid #dbdbdb;
    position: fixed !important;
    left: -215px;
    top: 0px;
    -moz-transition: left 0.2s linear;
    -o-transition: left 0.2s linear;
    -webkit-transition: left 0.2s linear;
    transition: left 0.2s linear;
    width: 214px;
    z-index: 99;
  }
  .open {
    left: 0;
  }
  /* Submit hash tag news page */
  div#edit-field-news-category {
    width: 100%;
  }
  div#edit-field-news-source {
    width: 100%;
  }
  div#edit-actions button#edit-preview {
    width: 100%;
  }
  .page-node-add-hash-tag-news div#edit-actions button#edit-submit {
    width: 100%;
    margin: 10px 0px;
  }
  .region.region-sidebar-first.well {
    display: none;
  }
  form#hash-tag-news-node-form .autocomplete-deluxe-container {
    margin-top: 0px !important;
  }
  input#edit-field-news-caption-und-0-value {
    margin-bottom: 0px;
  }
  .link-field-url.link-field-column {
    margin-top: -35px;
  }
  div#field-news-markup-add-more-wrapper {
    text-align: center;
  }
  form#hash-tag-news-node-form>.form-group {
    margin-bottom: 13px !important;
  }
  section#block-block-10 {
    margin-top: 12px !important;
  }
  .popups-container {
    width: 85%;
    left: 0;
  }
  div.ctools-modal-content .modal-content {
    margin-right: 0;
    margin-left: 0;
    width: 100%;
  }
  form#user-login {
    width: 100%;
  }
  form#user-register-form {
    width: 100%;
  }
  .box img {
    display: none;
  }
  .box h5:nth-child(2) {
    margin: 10px 0px 20px;
  }
  .login-footer {
    width: 80%;
  }
  .register-footer h5:last-child {
    width: 80%;
  }
  /*hashtag listing on mobile*/
  .owl-controls {
    position: absolute;
    top: 0;
    right: 4px;
    width: 33.33333333%;
    padding: 0px 15px !important;
  }
  .owl-buttons {
    height: 100%
  }
  .owl-prev {
    width: 100%;
    height: 60px;
    color: #ff0036 !important;
    border: solid 3px;
    text-align: center;
    padding: 18px 0 !important;
    border-radius: 6px !important;
    font-size: 18px !important;
    text-decoration: none;
    background: none !important;
    margin: 0px 0px 5px !important;
    text-transform: uppercase;
  }
  .owl-next {
    width: 100%;
    height: 60px;
    color: #ff0036 !important;
    border: solid 3px;
    text-align: center;
    padding: 18px 0 !important;
    border-radius: 6px !important;
    font-size: 18px !important;
    text-decoration: none;
    background: none !important;
    margin: 0 !important;
    text-transform: uppercase;
  }
  .mobile-right {
    position: relative;
    height: 141px;
    top: 117px;
    right: 0px;
    margin: 0 13px !important;
  }
  .mobile-right span.a2a_kit.a2a_kit_size_32.a2a_target.addtoany_list {
    height: 100%;
    position: absolute;
    width: calc(100% - 30px);
  }
  .mobile-right a.a2a_dd.addtoany_share_save {
    height: 200px;
    border-radius: 6px;
    padding: 60% 16px;
    line-height: 20px;
    font-weight: bold;
    text-align: center;
  }
  .news-viewnews.match-height a {
    text-align: center;
    border: 1px solid #ff0000;
    border-radius: 7px;
    padding: 13px 0px;
    float: left;
    width: 100%;
    height: 45px;
    color: #fff;
    background: #ff0036;
    font-size: 18px;
  }
  /*Article styling*/
  .mobile-share {
    position: absolute;
    right: 0;
    height: 100%;
    width: 30%;
  }
  .view-more a {
    text-align: center;
    border: 1px solid #ff0000;
    border-radius: 7px;
    padding: 5.7px 0px;
    float: left;
    width: 100%;
    color: #fff;
    background: #ff0036;
  }
  .art-share {
    height: 100%;
  }
  .art-share a {
    border-radius: 4px;
    padding: 60px 0 !important;
    font-size: 17px !important;
    text-decoration: none;
  }
  .page-home .navbar {
    min-height: 0px;
  }
  .navbar {
    min-height: 0px;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 479px) {
  /** Yellow **/
  body {
    /*background-color: yellow;/*Breakpoint-colour*/
  }
  .navbar-header h4 {
    text-align: center;
  }
  .navbar-header b {
    float: none;
  }
  .logged-in .navbar-header {
    position: absolute;
    top: -150px;
  }
  .not-logged-in .navbar-header {
    position: absolute;
    top: -145px;
  }
  section#block-block-3 {
    margin-top: 75px !important;
    padding: 0 !important;

    height: 55px;
  }
  section#block-block-3 img.img-responsive {
    width: 300px;
  }
  section#block-views-hashtags-listing-popular-tags h2.block-title {
    display: none;
  }
  .navigation-div .region.region-navigation .responsive-menus span.toggler {
    float: right;
    margin-top: -70px;
    width: 40px;
    margin-right: 10px;
    background: #fff;
    color: #212121;
    border-radius: 0;
    box-shadow: none;
    font-weight: bold;
    font-size: 22px;
  }
  .footer_bottom .region.region-footer-bottom p {
    margin-top: 0px;
    text-align: center;
  }
  .footer_bottom ul.cntct-menu {
    float: none;
    margin: 0 auto;
    width: max-content;
  }
  a.sidebar-arrow {
    display: block;
/*    position: relative;
    left: 55px;
    float: right;
    top: -80px;*/
    font-size: 20px;
  }
  .sliding-bar {
    background: #ffffff;
    border: 1px solid #dbdbdb;
    position: fixed !important;
    left: -215px;
    top: 0px;
    -moz-transition: left 0.2s linear;
    -o-transition: left 0.2s linear;
    -webkit-transition: left 0.2s linear;
    transition: left 0.2s linear;
    width: 214px;
    z-index: 99;
  }
  .open {
    left: 0;
  }
  /* Submit hash tag news page */
  div#edit-field-news-category {
    width: 100%;
  }
  div#edit-field-news-source {
    width: 100%;
  }
  div#edit-actions button#edit-preview {
    width: 100%;
  }
  .page-node-add-hash-tag-news div#edit-actions button#edit-submit {
    width: 100%;
    margin: 10px 0px;
  }
  .region.region-sidebar-first.well {
    display: none;
  }
  form#hash-tag-news-node-form .autocomplete-deluxe-container {
    margin-top: 0px !important;
  }
  input#edit-field-news-caption-und-0-value {
    margin-bottom: 0px;
  }
  .link-field-url.link-field-column {
    margin-top: -35px;
  }
  div#field-news-markup-add-more-wrapper {
    text-align: center;
  }
  form#hash-tag-news-node-form>.form-group {
    margin-bottom: 13px !important;
  }
  section#block-block-10 {
    margin-top: 12px !important;
  }
  .popups-container {
    width: 85%;
    left: 0;
  }
  div.ctools-modal-content .modal-content {
    margin-right: 0;
    margin-left: 0;
    width: 100%;
  }
  form#user-login {
    width: 100%;
  }
  form#user-register-form {
    width: 100%;
  }
  .box img {
    display: none;
  }
  .box h5:nth-child(2) {
    margin: 10px 0px 20px;
  }
  .login-footer {
    width: 80%;
  }
  .register-footer h5:last-child {
    width: 80%;
  }
  /*hashtag listing on mobile*/
  .owl-controls {
    position: absolute;
    top: 0;
    right: 4px;
    width: 33.333333333%;
    padding-right: 6px !important;
  }
  .owl-buttons {
    height: 100%
  }
  .owl-prev {
    width: 100%;
    height: 60px;
    color: #ff0036 !important;
    border: solid 3px;
    text-align: center;
    padding: 18px 0 !important;
    border-radius: 6px !important;
    font-size: 14px !important;
    text-decoration: none;
    background: none !important;
    margin: 0px 0px 5px !important;
    text-transform: uppercase;
    opacity: 1!important;
  }
  .owl-next {
    width: 100%;
    height: 60px;
    color: #ff0036 !important;
    border: solid 3px;
    text-align: center;
    padding: 18px 0 !important;
    border-radius: 6px !important;
    font-size: 14px !important;
    text-decoration: none;
    background: none !important;
    margin: 0 !important;
    text-transform: uppercase;
    opacity: 1!important;
  }
  .mobile-right {
    position: relative;
    height: 141px;
    top: 117px;
    right: 10px;
    float: right;
  }
  .mobile-right span.a2a_kit.a2a_kit_size_32.a2a_target.addtoany_list {
    height: 84px;
    position: absolute;
    width: 75px;
  }
  .mobile-right a.a2a_dd.addtoany_share_save {
    height: 200px;
    line-height: 20px;
    border-radius: 6px;
    padding: 64px 16px;
    font-weight: bold;
    text-align: center;
  }
  .news-viewnews.match-height a {
    text-align: center;
    border: 1px solid #ff0000;
    border-radius: 4px;
    padding: 13px 0px;
    float: left;
    width: 100%;
    height: 45px;
    color: #fff;
    background: #ff0036;
    font-size: 14px;
    font-weight: bold;
  }
  .news-addtoany a {
    padding: 20px 0px;
  }
  /*Article styling*/
  .mobile-share {
    position: absolute;
    right: 0;
    height: 100%;
    width: 30%;
  }
  .view-more a {
    text-align: center;
    border: 1px solid #ff0000;
    border-radius: 4px;
    padding: 5.7px 0px;
    float: left;
    width: 100%;
    color: #fff;
    background: #ff0036;
  }
  .art-share {
    height: 100%;
  }
  .art-share a {
    border-radius: 4px;
    padding: 60px 0 !important;
    font-size: 17px !important;
    text-decoration: none;
  }
  .page-home .navbar {
    min-height: 0px;
  }
  .navbar {
    min-height: 0px;
  }
  .art-hastag {
    margin-top: 5px;
  }
  .art-hastag a {
    font-size: 15px;
    font-weight: 500;
  }
}
@media only screen and (max-device-width: 319px) {
  /** Blue **/
  body {
    /*background-color: blue;/*Breakpoint-colour*/
  }
  .navbar-header h4 {
    text-align: center;
  }
  .navbar-header b {
    float: none;
    font-size: 13px;
  }
  .logged-in .navbar-header {
    position: absolute;
    top: -136px;
  }
  .not-logged-in .navbar-header {
    position: absolute;
    top: -135px;
  }
  section#block-block-3 {
    margin-top: 75px !important;
    padding: 0px !important;
    height: 45px;
  }
  section#block-block-3 img.img-responsive {
    width: 220px;
  }
  section#block-views-hashtags-listing-popular-tags h2.block-title {
    display: none;
  }
  .navigation-div .region.region-navigation .responsive-menus span.toggler {
    float: right;
    margin-top: -70px;
    width: 40px;
    margin-right: 10px;
    background: #fff;
    color: #212121;
    border-radius: 0;
    box-shadow: none;
    font-weight: bold;
    font-size: 22px;
  }
  .footer_bottom .region.region-footer-bottom p {
    margin-top: 0px;
    text-align: center;
  }
  .footer_bottom ul.cntct-menu {
    float: none;
    margin: 0 auto;
    width: max-content;
  }
  a.sidebar-arrow {
    display: block;
/*    position: relative;
    left: 55px;
    float: right;
    top: -80px;*/
    font-size: 20px;
  }
  .sliding-bar {
    background: #ffffff;
    border: 1px solid #dbdbdb;
    position: fixed !important;
    left: -215px;
    top: 0px;
    -moz-transition: left 0.2s linear;
    -o-transition: left 0.2s linear;
    -webkit-transition: left 0.2s linear;
    transition: left 0.2s linear;
    width: 214px;
    z-index: 99;
  }
  .open {
    left: 0;
  }
  /* Submit hash tag news page */
  div#edit-field-news-category {
    width: 100%;
  }
  div#edit-field-news-source {
    width: 100%;
  }
  div#edit-actions button#edit-preview {
    width: 100%;
  }
  .page-node-add-hash-tag-news div#edit-actions button#edit-submit {
    width: 100%;
    margin: 10px 0px;
  }
  .region.region-sidebar-first.well {
    display: none;
  }
  div#field-news-markup-add-more-wrapper {
    text-align: center;
  }
  form#hash-tag-news-node-form .autocomplete-deluxe-container {
    margin-top: 0px !important;
  }
  input#edit-field-news-caption-und-0-value {
    margin-bottom: 0px;
  }
  .link-field-url.link-field-column {
    margin-top: -35px;
  }
  form#hash-tag-news-node-form>.form-group {
    margin-bottom: 13px !important;
  }
  section#block-block-10 {
    margin-top: 12px !important;
  }
  .popups-container {
    width: 85%;
    left: 0;
  }
  div.ctools-modal-content .modal-content {
    margin-right: 0;
    margin-left: 0;
    width: 100%;
  }
  form#user-login {
    width: 100%;
  }
  form#user-register-form {
    width: 100%;
  }
  .box img {
    display: none;
  }
  .box h5:nth-child(2) {
    margin: 10px 0px 20px;
  }
  .login-footer {
    width: 80%;
  }
  .register-footer h5:last-child {
    width: 80%;
  }
  /*hashtag listing on mobile*/
  .owl-controls {
    position: absolute;
    top: 0;
    right: 4px;
    width: 33.33333333%;
    padding: 0px !important;
    margin-right: 6px;
  }
  .owl-buttons {
    height: 100%
  }
  .owl-prev {
    width: 100%;
    height: 60px;
    color: #ff0036 !important;
    border: solid 3px;
    text-align: center;
    padding: 30% 0 !important;
    border-radius: 6px !important;
    font-size: 14px !important;
    text-decoration: none;
    background: none !important;
    margin: 0px 0px 5px !important;
    text-transform: uppercase;
  }
  .owl-next {
    width: 100%;
    height: 60px;
    color: #ff0036 !important;
    border: solid 3px;
    text-align: center;
    padding: 30% 0 !important;
    border-radius: 6px !important;
    font-size: 14px !important;
    text-decoration: none;
    background: none !important;
    margin: 0 !important;
    text-transform: uppercase;
  }
  .mobile-right {
    position: relative;
    height: 141px;
    top: 117px;
    right: 0px;
    float: right;
  }
  .mobile-right span.a2a_kit.a2a_kit_size_32.a2a_target.addtoany_list {
    height: 100%;
    position: absolute;
    width: calc(100% - 30px);
  }
  .mobile-right a.a2a_dd.addtoany_share_save {
    height: 200px;
    border-radius: 6px;
    padding: 60% 16px;
    line-height: 20px;
    font-weight: bold;
    text-align: center;
  }
  .news-viewnews.match-height a {
    text-align: center;
    border: 1px solid #ff0000;
    border-radius: 7px;
    padding: 13px 0px;
    float: left;
    width: 100%;
    height: 45px;
    color: #fff;
    background: #ff0036;
    font-size: 14px;
    font-weight: bold;
  }
  .news-addtoany a {
    padding: 15px 0;
  }
  /*Article styling*/
  .mobile-share {
    position: absolute;
    right: 0;
    height: 100%;
    width: 30%;
  }
  .view-more a {
    text-align: center;
    border: 1px solid #ff0000;
    border-radius: 7px;
    padding: 5.7px 0px;
    float: left;
    width: 100%;
    color: #fff;
    background: #ff0036;
  }
  .art-share {
    height: 100%;
  }
  .art-share a {
    border-radius: 4px;
    padding: 60px 0 !important;
    font-size: 17px !important;
    text-decoration: none;
  }
   .page-home .navbar {
    min-height: 0px;
  }
  .navbar {
    min-height: 0px;
  }
}
@media only screen and (min-height: 700px) and (max-height: 799px) {
  /** Red **/
  body {
    /*background-color: red;/*Breakpoint-colour*/
  }
  .box {
    margin-top: 17%;
  }
}
@media only screen and (min-height: 800px) and (max-height: 900px) {
  /** Red **/
  body {
    /*background-color: red;/*Breakpoint-colour*/
  }
  .box {
    margin-top: 27%;
  }
}
@media only screen and (min-height: 910px) and (max-height: 1000px) {
  /** Red **/
  body {
    /*background-color: red;/*Breakpoint-colour*/
  }
  .box {
    margin-top: 34%;
  }
}
@media only screen and (min-height: 1010px) and (max-height: 1100px) {
  /** Red **/
  body {
    /*background-color: red;/*Breakpoint-colour*/
  }
  .box {
    margin-top: 46%;
  }
}
@media only screen and (min-height: 1110px) and (max-height: 1200px) {
  /** Red **/
  body {
    /*background-color: red;/*Breakpoint-colour*/
  }
  .box {
    margin-top: 60%;
  }
}
@media only screen and  (max-device-width:768px) {
  /** Green **/
  body {
    /*background-color: green;/*Breakpoint-colour*/
  }
  .responsive-menus.responsified span.toggler {
    position: fixed;
    right: 0;
    top: 20px !important;
    background: transparent;
    color: #212121;
    box-shadow: none;
    padding: 0 15px;
    font-size: 24px;
    font-weight: bold;
    z-index: 1000;
    border: none;
    border-bottom: none !important;
  }
  section#rm-removed {
    position: fixed;
    top: 0;
    background: linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7));
    padding-right: 15%;
  }
  .mobile-search {
    width: 100%;
    background: #fff;
  }
  .mobile-login {
    width: 100%;
    background: #fff;
  }
  .mobile-submit_hashtag {
    width: 100%;
    background: #fff;
    margin-top: -7px;
    float: left;
    height: -webkit-fill-available;
  }
}
@media only screen and (max-device-width: 320px) {
  .owl-controls {
    width: 22%;
  }
  .news-viewnews.match-height a {
    width: 100%;
    height: 58px;
  }
  .news-addtoany a {
    font-size: 14px;
  }
}
