/* General CSS */

body, p, a, h1, h2, h3, h4, h5, h6 {
  font-family: Montserrat;
}
.no-gutter {
  margin: 0 !important;
  padding: 0 !important;
}
.Container {
  width: 90%;
  margin: 0 auto;
}
input {
  font-family: FontAwesome, Montserrat;
}
/*.social-hover {
  display: none;
}*/
.ticker-hide {
  visibility: hidden;
}
#TopLeaderboard > div {
  width: 100%!important;
  height: 100px!important;
  margin-bottom: 10px;
}
#TopLeaderboard iframe{
  width: 100%!important;
  height: 100px!important;
}
#Sidebar1 > div, #Sidebar2 > div, #Incontent1 > div, #Incontent2 > div, #Incontent3 > div, #Incontent4 > div, #Incontent5 > div, #Incontent6 > div, #Sidebar1 iframe, #Sidebar2 iframe, #Incontent1 iframe, #Incontent2 iframe, #Incontent3 iframe, #Incontent4 iframe, #Incontent5 iframe, #Incontent6 iframe {
  width: 100%!important;
}
.loader {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: #fff;
  background-image: url(/sites/all/themes/hashtag/images/load.gif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10%;
}
.my_centered_buttons {
  display: flex;
  justify-content: center;
}
#back-top {
  right: 30px;
  bottom: -5px;
}
.btn {
  border-radius: 3px;
}
.btn:active {
  box-shadow: none;
  background: none;
  border: none;
}
.article-ad {
  width: 50%;
  float: right;
}
.article-ad iframe {
  width: 100%;
  float: left;
}
.btn:focus {
  outline: none;
}
.navigation-div img {
  float: right;
}
.navbar-menu-bottom {
  width: 100%;
  background-color: #f8f8f8;
}
.page-node-add-hash-tag-news .page-header {
  display: none;
}
.page-node-add-hash-tag-news .breadcrumb {
  display: none;
}
.page-node-add-hash-tag-news .vertical-tabs {
  display: none;
}
section.hashtag-list .page-header {
  display: none;
}
ul.pager.pager-load-more a, #twitt-opt-reg .pager-load-more button{
  background: transparent !important;
  border: solid 2px #ff0036 !important;
  color: #ff0036 !important;
}

/* Front Page */


/* Header */

nav.mean-nav h2.block-title {
  display: none;
}
section#block-views-hashtag-ticker-block {
  clear: both;
}
section#block-views-hashtags-listing-popular-tags {
  float: left;
  text-transform: capitalize;
  background-color: black;
  color: #e2e2e2;
  width: 100%;
  height: 18px;
}
section#block-views-hashtags-listing-popular-tags h2.block-title {
  font-size: 13.5px;
  color: #e2e2e2;
  line-height: 0px;
  padding-top: 5px;
  float: left;
  margin: 3.5px 2px 10.5px 0px;
  text-transform: uppercase;
  font-weight: bold;
}
.view.view-hashtags-listing.view-id-hashtags_listing {
  width: 100%;
}
.liScroll-container {
  width: auto;
  height: 20px;
}
.view.view-hashtags_listing {
  /*padding-top: 4px;*/
}
#views-ticker-liScroll-hashtags_listing {
  height: 20px;
}
.liScroll-container .mask {
  width: auto;
  top: 0px;
  height: 20px;
}
ul.liScroll span {
  margin: 0px;
}
.views-liScroll-item.views-liScroll-item-hashtags_listing {
  margin-right: 0px;
  height: 20px;
  float: left;
  padding: 4px 4px 4px 20px;
}
ul.liScroll a {
  margin: 0px;
}
.view.view-hashtags-listing.view-id-hashtags_listing a {
  color: #E2E2E2;
  position: relative;
  bottom: 2px;
}
.view.view-hashtags-listing.view-id-hashtags_listing a:hover {
  text-decoration: none;
}
span.views-summary.views-summary-unformatted {
  padding: 0px 8px;
  font-size: 11px;
}
.view.view-hashtags-listing.view-id-hashtags_listing .views-row {
  font-size: 13.5px;
  color: #9a9a9a;
  float: left;
  margin: 2px 14px 10.5px;
  font-weight: bold;
  line-height: 0px;
  padding-top: 5px;
}
.view.view-hashtags-listing.view-id-hashtags_listing .views-row a {
  color: #E2E2E2;
  font-size: 11px;
  text-decoration: none;
}
section#block-block-1 p {
  padding: 1px 12px 5px;
  background: #2d2d2d;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  border-radius: 0px 0px 3px 3px;
  margin-top: -2px;
}
section#block-block-1 a.dropdown-toggle {
  color: white;
  text-decoration: none;
}
li.login a {
  color: white !important;
}
.navbar-header {
  width: 100%;
}
.navigation-div img {
  float: right;
}
header#navbar {
  margin: 0px;
  border: none;
  background: none;
  clear: both;
  border-bottom: 1px solid #e4e4e4;
}
.navbar-menu {
  background: #ff0036;
  margin-top: 1px;
}
section#block-menu-block-1 {
  padding-left: 0px;
}
#block-menu-menu-news-category ul.menu.nav li a {
  background-repeat: no-repeat;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  padding: 105px 10px 15px;
  text-align: left;
  z-index: 1;
}
#block-menu-menu-news-category ul.menu.nav {
  float: right;
  position: relative;
}
#block-menu-menu-news-category ul.menu.nav li {
  float: left;
  text-transform: capitalize;
}
ul.menu.nav li a:hover, ul.menu.nav li a:focus, ul.menu.nav li.active a {
  color: #ff0036;
  background: linear-gradient(to bottom, transparent, 65px, #212121), linear-gradient(to top, transparent, 65px, #212121);
}
ul.dropdown-menu {
  padding-left: 25px;
  color: #ffffff;
  background: #fff;
}
ul.dropdown-menu li a {
  padding-left: 0px;
}
input#edit-search-block-form--2 {
  border: none;
  color: #ff0036;
  padding: 10px;
  font-weight: bold;
  font-size: 17px;
  height: 36px;
  background: #fff;
  box-shadow: none;
  background-image: url(/sites/default/files/pictures/hashtag.png);
  background-repeat: no-repeat;
  padding-left: 27px;
  background-position: 6px;
}
form#search-block-form {
  float: right;
}
form#search-block-form .input-group {
  width: 180px;
  float: right;
}
form#search-block-form .input-group .glyphicon {
  font-size: 18px;
}
button.btn.btn-primary {
  background: #fff;
  color: #ff0036;
  border: none;
  padding: 9px;
  height: 36px;
}
.navbar #block-search-form {
  margin: 4px 0 1px 0px;
  padding-right: 0px;
}
input#edit-search-block-form--2::-webkit-input-placeholder {
  /* Chrome */
  color: #ff0036;
}
input#edit-search-block-form--2:-ms-input-placeholder {
  /* IE 10+ */
  color: #ff0036;
}
input#edit-search-block-form--2::-moz-placeholder {
  /* Firefox 19+ */
  color: #ff0036;
}
input#edit-search-block-form--2:-moz-placeholder {
  /* Firefox 4 - 18 */
  color: #ff0036;
}
.navbar #block-search-form {
  margin-top: 7px;
}
.form-group {
  margin-bottom: 15px;
}
section#block-views-4828201cb4c2608099ceb543ecdd480c {
  background: #f8f8f8;
  margin: 8px 0px;
  border-radius: 3px;
  border: solid 1px #e3e3e3;
}
section#block-views-4828201cb4c2608099ceb543ecdd480c h2.block-title {
  font-size: 19px;
  text-transform: uppercase;
  margin: 8px 6px;
  padding-top: 2px;
}
section#block-views-4828201cb4c2608099ceb543ecdd480c .view.view-hashtags-listing.view-id-hashtags_listing .views-row {
  margin: 3px;
}
section#block-views-4828201cb4c2608099ceb543ecdd480c .view.view-hashtags-listing.view-id-hashtags_listing .views-row a {
  font-size: 12px;
  float: left;
  border: solid 2px #ff0036;
  border-radius: 14px;
  padding: 1px 6px;
  font-weight: lighter;
  color: #ff0036;
}
section#block-views-4828201cb4c2608099ceb543ecdd480c .view.view-hashtags-listing.view-id-hashtags_listing .views-row a:hover {
  background: #ff0036;
  color: #ffffff;
}
.pager {
  margin-top: 5px;
  margin-bottom: 0px;
}
ul.pager.pager-load-more a, #twitt-opt-reg .pager-load-more button {
  border-radius: inherit;
  width: 100%;
  color: #ffffff;
  background: #ff0036;
  margin: 7px 0px 0px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  border: solid 1px #ff0036;
  padding: 2px;
  border-radius: 0px 0px 3px 3px;
  padding: 10px 0px;
  float: left;
}

/* Footer */

footer.footer {
  background: #f2f2f2;
  padding: 42px 0px 45px;
}
footer.footer h3 {
  font-weight: 900;
  font-size: 16px;
  text-transform: uppercase;
  color: black;
  margin: 0;
  margin-top: 2px;
}
footer.footer p {
  color: #777777;
}
footer.footer section#block-block-7 p {
  margin: 25px 0px 53px;
  padding-right: 40px;
}
ul.social-links {
  padding-left: 0px;
  margin-top: 20px;
}
ul.social-links li {
  list-style: none;
  float: left;
  margin: 12px;
}
ul.social-links li a {
  color: #666666;
}
footer.footer .form-border {
  border: solid 6px #dbdbdb;
  margin: 0px 8px;
  padding: 0px 30px 30px;
}
footer.footer .form-border i.fa.fa-envelope.fa-lg {
  color: #ffffff;
  background: #ff0036;
  margin: 0 auto;
  display: table;
  padding: 11px 9px 11px 10px;
  border-radius: 100px;
  position: relative;
  top: -15px;
  font-size: 20px;
}
footer.footer .form-border h2 {
  font-weight: bold;
  text-align: center;
  font-size: 28px;
  margin: 0px 0px 25px;
  color: #000;
}
footer.footer .form-border input#edit-mergevars-email {
  text-align: center;
  padding: 9px;
  color: #c8c8c8;
  width: 100%;
  background: #f2f2f2;
  border: solid 1px;
  border-radius: 3px;
  margin: 0px 0px 11px;
  height: 40px;
}
footer.footer .form-border input[type="text"]::-webkit-input-placeholder {
  /* Chrome */
  color: #c9c9c9;
}
footer.footer .form-border input[type="text"]:-ms-input-placeholder {
  /* IE 10+ */
  color: #c9c9c9;
}
footer.footer .form-border input[type="text"]::-moz-placeholder {
  /* Firefox 19+ */
  color: #c9c9c9;
}
footer.footer .form-border input[type="text"]:-moz-placeholder {
  /* Firefox 4 - 18 */
  color: #c9c9c9;
}
footer.footer .form-border div#edit-actions button#edit-submit {
  text-align: center;
  padding: 10px;
  color: #ffffff;
  width: 100%;
  background: #ff0036;
  border: none;
  border-radius: 4px;
  margin: 0px 0px 6px;
  font-weight: bold;
}
footer.footer .form-border p {
  color: #bcbcbc;
  text-align: center;
  font-style: 13px;
}
.footer_bottom {
  background: #f2f2f2;
  border-top: 1px solid #dbdbdb;
  padding: 11px 0px;
}
.footer_bottom ul.cntct-menu {
  margin-top: 24%;
  padding-left: 0px;
  float: left;
  width: fit-content;
  width: -moz-fit-content;
}
.footer_bottom ul.cntct-menu li {
  list-style: none;
  float: left;
}
.footer_bottom ul.cntct-menu li a {
  color: #676767;
  padding: 0px 3px;
  text-decoration: none;
  font-size: 12px;
}
.footer_bottom .region.region-footer-bottom p {
  margin-top: 24%;
  text-transform: uppercase;
  font-size: 12px;
  color: #a6a6a6;
}

/* HASHTAG ADD NEWS */

.page-node-add-hash-tag-news .main-container.container {
  margin-top: 25px;
}
div#field-news-markup-add-more-wrapper {
  background: #f8f8f8;
  border: solid 1px #e3e3e3;
  border-radius: 3px;
  padding: 19px;
}
div#field-news-markup-add-more-wrapper h1 {
  font-weight: bold;
  font-size: 26px;
  margin-top: 0px;
  text-transform: uppercase;
  margin-bottom: 5px;
  letter-spacing: 1px;
}
div#field-news-markup-add-more-wrapper p {
  line-height: 18px;
}

/*.form-item.form-item-title.form-type-textfield,
.link-field-title.link-field-column,
.form-item-field--news-media-video-thumbnai-und-0-value,
.form-item-field-iframe-code-und-0-value.form-type-textarea,*/

.page-node-add-hash-tag-news .form-item.form-item-field-news-post-id-und-0-value.form-type-textfield, .page-node-add-hash-tag-news #field-news-engagements-add-more-wrapper, #field-news-fetch-account-add-more-wrapper, .page-node-add-hash-tag-news .form-item.form-item-field-news-media-type-und.form-type-select, .page-node-add-hash-tag-news #field-news-media-image-add-more-wrapper, .page-node-add-hash-tag-news .form-item.form-item-field-news-media-video-und-0-value.form-type-textfield, .page-node-add-hash-tag-news #field-news-length-add-more-wrapper, .page-node-add-hash-tag-news #field-news-type-add-more-wrapper, .page-node-add-hash-tag-news #field-news-media-link-add-more-wrapper, .page-node-add-hash-tag-news #edit-field-news-fetch-account-icon-und-0-ajax-wrapper, .page-node-add-hash-tag-news #field-news-fetch-date-add-more-wrapper, .page-node-add-hash-tag-news label.control-label, .field-name-field--news-media-video-thumbnai, .field-name-field-news-location-region, .field-name-field-news-location-country-code, .field-name-field-news-oembed-code {
  display: none;
}
.page-node-add-hash-tag-news span.input-group-addon {
  display: none;
}
#edit-field-news-caption {
  float: left;
  width: 100%;
}
input#edit-field-news-caption-und-0-value {
  height: 120px;
  padding-bottom: 74px;
  /*margin-bottom: 15px;*/
}
form#hash-tag-news-node-form .check-link {
  background-color: #ff0036;
  color: #fff;
  padding: 7.3px 0px;
  float: right;
  text-decoration: none;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
  width: 30%;
  text-align: center;
}
form#hash-tag-news-node-form {
  max-width: 95%;
  margin: 20px auto;
  clear: both;
}
.link-field-url.link-field-column {
  float: left;
  width: 70%;
  margin-top: -34px;
}
input#edit-field-news-link-und-0-url {
  width: 100%;
  border-radius: 4px 0px 0px 4px;
}
div#edit-field-news-body {
  clear: both;
  margin-bottom: 30px !important;
}
div#edit-field-news-laceholder {
  /* Firefox 18- */
  color: #212121;
}
form#hash-tag-news-node-form input#edit-field-news-url-und-0-url {
  border-radius: 5px 0px 0px 5px;
}
form#hash-tag-news-node-form div#edit-field-news-url a {
  float: left;
  width: 40%;
  border-radius: 0px 5px 5px 0px;
  text-align: center;
  padding: 6px;
  border: solid 1px #ff0036;
  background: #ff0036;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
}
div#edit-field-news-category {
  width: 49%;
  float: left;
}
div#edit-field-news-source {
  width: 49%;
  float: right;
}
form#hash-tag-news-node-form div#edit-field-news-body . {
  display: none;
}
form#hash-tag-news-node-form fieldset#edit-field-news-body-und-0-format {
  /*display: none;*/
}
form#hash-tag-news-node-form .autocomplete-deluxe-container.autocomplete-deluxe-multiple, form#hash-tag-news-node-form .autocomplete-deluxe-container.autocomplete-deluxe-multiple input#autocomplete-deluxe-input {
  width: 100% !important;
  margin: 0px;
  background-color: #fff;
  border: 1px solid #cccccc;
}
form#hash-tag-news-node-form .autocomplete-deluxe-container.autocomplete-deluxe-multiple {
  font-size: 16px;
  font-weight: bold;
  border-radius: 3px;
  /*margin-top: 10px;*/
  background: #f8f8f8;
}
.page-node-add-hash-tag-news span.autocomplete-deluxe-item {
  margin-bottom: 15px;
  top: 0px;
  right: 4px;
  color: #6a6a6a;
  background-color: #e2e2e2;
  border-radius: 12px;
  padding: 6px 10px;
}
.page-node-add-hash-tag-news span.autocomplete-deluxe-item a.autocomplete-deluxe-item-delete {
  display: none;
}
form#hash-tag-news-node-form .autocomplete-deluxe-container.autocomplete-deluxe-multiple span {
  /*  font-weight: lighter !important;*/
}
form#hash-tag-news-node-form .autocomplete-deluxe-container.autocomplete-deluxe-multiple .autocomplete-deluxe-throbber.autocomplete-deluxe-closed {
  display: none;
}
form#hash-tag-news-node-form div#edit-field-news-retweets, form#hash-tag-news-node-form div#edit-field-news-comments, form#hash-tag-news-node-form div#edit-field-news-favorites {
  display: none;
}
.filter-wrapper .panel-body {
  padding: 15px;
  width: 100%;
}
.filter-wrapper .panel-body .form-item.form-item-field-news-body-und-0-format.form-type-select.form-group {
  width: 60%;
}
.filter-wrapper .panel-body .form-item.form-item-field-news-body-und-0-format.form-type-select.form-group select#edit-field-news-body-und-0-format--2 {
  border-radius: 5px 0px 0px 5px;
}
.filter-wrapper .panel-body div#edit-field-news-body-und-0-format-help {
  width: 40%;
  margin-top: 0px;
}
.filter-wrapper .panel-body div#edit-field-news-body-und-0-format-help a {
  width: 100%;
  padding: 10px 0px;
  font-size: 13px;
}
.page-user div#edit-actions button#edit-submit {
  width: 49%;
  color: #ffffff;
  background: #000000;
  border: #000000;
  font-weight: bold;
  font-size: 20px;
  padding: 8px 0px;
  height: inherit;
  border-radius: 8px;
  float: left;
}
.page-node-add-hash-tag-news div#edit-actions button#edit-submit {
  width: 49%;
  color: #fff;
  background: #ff0036;
  border: #ff0036;
  font-weight: bold;
  font-size: 20px;
  padding: 8px 0px;
  height: inherit;
  border-radius: 8px;
  float: right;
}
div#edit-actions button#edit-submit {
  width: 100%;
  color: #fff;
  background: #ff0036;
  border: #ff0036;
  font-weight: bold;
  font-size: 20px;
  padding: 8px 0px;
  height: inherit;
  border-radius: 8px;
  float: right;
}
div#edit-actions button#edit-preview {
  width: 49%;
  color: #ffffff;
  background: #000000;
  border: #000000;
  font-weight: bold;
  font-size: 20px;
  padding: 8px 0px;
  border-radius: 8px;
  outline: none;
}
section#block-block-10 {
  text-align: center;
  padding: 18px 115px 0px;
  float: left;
  /*  clear:both;*/
}
section#block-block-10 img.img-responsive {
  margin: 20px auto 27px;
}
.node-hash_tag_news-form .form-group .form-control {
  color: #000;
  font-weight: normal;
  background-color: #f8f8f8;
}
.node-hash_tag_news-form .form-group .form-control::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #000;
}
.node-hash_tag_news-form .form-group .form-control {
  color: #000;
  font-weight: normal;
}
.node-hash_tag_news-form .form-group .form-control::-moz-placeholder {
  /* Firefox 19+ */
  color: #000;
}
.node-hash_tag_news-form .form-group .form-control {
  color: #000;
  font-weight: normal;
}
.node-hash_tag_news-form .form-group .form-control:-moz-placeholder {
  /* Firefox 18- */
  color: #000;
}

/* HASHTAG NEWS CATEGOY */

.navbar-menu-bottom {
  background-color: white;
}
.page-node-add-hash-tag-news .navbar-menu-bottom {
  display: none;
}
body.sticky {
  margin-top: 18px;
}
body.stick {
  margin-top: 170px;
}
#block-views-c667b362118e17fd8cb3ca51b4e7cd10 form#views-exposed-form-hashtags-news-listing-block .views-exposed-form.sticky {
  border-bottom: 0px;
}
form#views-exposed-form-hashtags-news-listing-block .views-exposed-form {
  border-bottom: solid 1px #dbdbdb;
}
.sliding-bar form .views-exposed-widgets {
  margin: 15px auto 0;
  clear: both;
  width: 90%;
}
.views-exposed-form .views-exposed-widget {
  padding: 0;
  width: 100%;
  text-align: center;
}
body.logged-in .navbar-menu-bottom section#block-views-c667b362118e17fd8cb3ca51b4e7cd10 {
  width: 315px;
}
form#views-exposed-form-hashtags-news-listing-block div#edit-field-news-category-tid-wrapper .form-item.form-type-bef-link:first-child {
  display: none;
}
.logged-in form#views-exposed-form-hashtags-news-listing-block div#edit-field-news-category-tid-wrapper .form-item.form-type-bef-link:nth-child(2), .logged-in form#views-exposed-form-hashtags-news-listing-block div#edit-field-news-category-tid-wrapper .form-item.form-type-bef-link:nth-child(3) {
  display: none;
}
form#views-exposed-form-hashtags-news-listing-block div#edit-field-news-category-tid-wrapper .form-item.form-type-bef-link {
  float: left;
  text-align: center;
}
form#views-exposed-form-hashtags-news-listing-block div#edit-field-news-category-tid-wrapper .fa {
  font-size: 35px;
  color: #bcbcbc;
  display: block;
  margin-bottom: 6px;
}
form#views-exposed-form-hashtags-news-listing-block div#edit-field-news-category-tid-wrapper .form-item.form-type-bef-link a {
  color: #212121;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  width: 105px;
  padding: 20px 0px 19px;
  border-right: solid 1px #f8f8f8;
  border-left: solid 1px #f8f8f8;
  border-bottom: solid 1px #e4e4e4;
  font-size: 13.5px;
  letter-spacing: 0.6px;
}
form#views-exposed-form-hashtags-news-listing-block div#edit-field-news-category-tid-wrapper .form-item.form-type-bef-link a:hover {
  background: #ffffff;
  border-right: solid 1px #e4e4e4;
  border-left: solid 1px #e4e4e4;
  border-bottom: solid 1px #ffffff;
  color: #ff0036;
}
form#views-exposed-form-hashtags-news-listing-block div#edit-field-news-category-tid-wrapper .form-item.form-type-bef-link a:hover .fa {
  color: #ff0036;
}
form#views-exposed-form-hashtags-news-listing-block div#edit-field-news-category-tid-wrapper .form-item.form-type-bef-link a:focus {
  background: #ffffff;
  border-right: solid 1px #e4e4e4;
  border-left: solid 1px #e4e4e4;
  border-bottom: solid 1px #ffffff;
  color: #ff0036;
}
form#views-exposed-form-hashtags-news-listing-block div#edit-field-news-category-tid-wrapper .form-item.form-type-bef-link a:focus .fa {
  color: #ff0036;
}
form#views-exposed-form-hashtags-news-listing-block div#edit-field-news-category-tid-wrapper .form-item.form-type-bef-link a.active {
  background: #ffffff;
  border-right: solid 1px #e4e4e4;
  border-left: solid 1px #e4e4e4;
  border-bottom: solid 1px #ffffff;
  color: #ff0036;
}
form#views-exposed-form-hashtags-news-listing-block div#edit-field-news-category-tid-wrapper .form-item.form-type-bef-link a.active .fa {
  color: #ff0036;
}
.navbar-menu-bottom .block.block-menu {
  /* width: 310px;*/
  margin-left: 5px;
}
.navbar-menu-bottom .block.block-menu h2.block-title {
  display: none;
}
.navbar-menu-bottom .block.block-menu ul.menu.nav li.leaf .fa {
  font-size: 35px;
  color: #212121;
  display: block;
  margin-bottom: 6px;
}
.navbar-menu-bottom .block.block-menu ul.menu.nav li.leaf a {
  color: #212121;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  width: 105px;
  padding: 20px 0px 19px;
  border-right: solid 1px #f8f8f8;
  border-left: solid 1px #f8f8f8;
  border-bottom: solid 1px #e4e4e4;
  font-size: 13.5px;
  letter-spacing: 0.6px;
  text-align: center;
}
.navbar-menu-bottom .block.block-menu ul.menu.nav li.leaf a:hover {
  background: #ffffff;
  border-right: solid 1px #e4e4e4;
  border-left: solid 1px #e4e4e4;
  border-bottom: solid 1px #ffffff;
  color: #ff0036;
}
.navbar-menu-bottom .block.block-menu ul.menu.nav li.leaf a:hover .fa {
  color: #ff0036;
}
.navbar-menu-bottom .block.block-menu ul.menu.nav li.leaf a:focus {
  background: #ffffff;
  border-right: solid 1px #e4e4e4;
  border-left: solid 1px #e4e4e4;
  border-bottom: solid 1px #ffffff;
  color: #ff0036;
}
.navbar-menu-bottom .block.block-menu ul.menu.nav li.leaf a:focus .fa {
  color: #ff0036;
}
.navbar-menu-bottom .block.block-menu ul.menu.nav li.leaf a.active {
  background: #ffffff;
  border-right: solid 1px #e4e4e4;
  border-left: solid 1px #e4e4e4;
  border-bottom: solid 1px #ffffff;
  color: #ff0036;
}
.navbar-menu-bottom .block.block-menu ul.menu.nav li.leaf a.active .fa {
  color: #ff0036;
}

/* HASHTAG DISPLAY NEWS */

.view.view-hashtags-news-listing.view-id-hashtags_news_listing .news-left {
  width: 80%;
  float: left;
}
img.img-responsive {
  margin: 10px auto;
}
.view.view-hashtags-news-listing.view-id-hashtags_news_listing .news-right {
  width: 20%;
  float: left;
}
.view.view-hashtags-news-listing.view-id-hashtags_news_listing .news-right .news-retweets, .view.view-hashtags-news-listing.view-id-hashtags_news_listing .news-right .news-favorites {
  color: #ff0036;
  float: right;
}
.view.view-hashtags-news-listing.view-id-hashtags_news_listing .news-right .fa {
  margin-right: 7px;
}
.view .news-hashtags a {
  color: #ff0036;
  text-decoration: none;
}
.view.view-hashtags-news-listing.view-id-hashtags_news_listing .news-addtoany, .view.view-hashtags-news-listing.view-id-hashtags_news_listing .news-viewnews, .view.view-hashtags-news-listing.view-id-hashtags_news_listing .news-comments-count {
  float: left;
}
.view .news-addtoany {
  margin-bottom: 10px !important;
  font: normal normal 16px/1.4 Helvetica, Roboto, "Segoe UI", Calibri, sans-serif;
}
.view.view-hashtags-news-listing.view-id-hashtags_news_listing .fa.fa-share-square-o {
  color: #fff;
  font-size: 13px;
}
.node.node-hash-tag-news.view-mode-news_listing .ds-left {
  width: 85%;
}
.node.node-hash-tag-news.view-mode-news_listing .ds-right {
  width: 15%;
}
.node.node-hash-tag-news.view-mode-news_listing .ds-left .field.field-name-field-news-body {
  color: #000000;
  font-weight: bold;
  letter-spacing: 1px;
}
.node.node-hash-tag-news.view-mode-news_listing .ds-left .field.field-name-field-news-hashtags .field-item.even, .node.node-hash-tag-news.view-mode-news_listing .ds-left .field.field-name-field-news-hashtags .field-item.odd {
  display: inline;
  float: left;
  margin-right: 15px;
}
.node.node-hash-tag-news.view-mode-news_listing .ds-left .field.field-name-field-news-hashtags .field-item.even a, .node.node-hash-tag-news.view-mode-news_listing .ds-left .field.field-name-field-news-hashtags .field-item.odd a {
  color: #ff0036;
}
.node.node-hash-tag-news.view-mode-news_listing .ds-left span.a2a_kit.a2a_kit_size_32.a2a_target.addtoany_list {
  clear: both;
}
.node.node-hash-tag-news.view-mode-news_listing .ds-left {
  clear: both;
  /*float: left;*/
}
.node.node-hash-tag-news.view-mode-news_listing .ds-left span.a2a_kit.a2a_kit_size_32.a2a_target.addtoany_list, .node.node-hash-tag-news.view-mode-news_listing .ds-left .field.field-name-node-link.field-type-ds, .node.node-hash-tag-news.view-mode-news_listing .ds-left .field.field-name-field-news-comments {
  float: left;
  margin-right: 15px;
}
.node.node-hash-tag-news.view-mode-news_listing .ds-left span.a2a_kit.a2a_kit_size_32.a2a_target.addtoany_list a, .node.node-hash-tag-news.view-mode-news_listing .ds-left .field.field-name-node-link.field-type-ds a, .node.node-hash-tag-news.view-mode-news_listing .ds-left .field.field-name-field-news-comments, .node.node-hash-tag-news.view-mode-news_listing .ds-left a.a2a_dd.addtoany_share_save {
  color: #ff0036;
  font-size: 14px;
  display: block;
  margin-top: 5px;
}
span.a2a_svg.a2a_s__default.a2a_s_a2a.a2a_img_text {
  display: none;
}
.node.node-hash-tag-news.view-mode-news_listing .ds-right .field.field-name-field-news-retweets.field-type-number-decimal, .node.node-hash-tag-news.view-mode-news_listing .ds-right .field.field-name-field-news-favorites.field-type-number-decimal {
  display: inline;
  float: right;
  margin-left: 15px;
  color: #ff0036;
}
.node.node-hash-tag-news.view-mode-news_listing *:before {
  margin-right: 5px;
}
.node.node-hash-tag-news.view-mode-full .ds-left {
  width: 85%;
  float: right;
}
.node.node-hash-tag-news.view-mode-full .ds-right {
  width: 15%;
  float: left;
}
.node.node-hash-tag-news.view-mode-full .ds-left .field.field-name-field-news-body {
  color: #ff0036;
  font-weight: bold;
  letter-spacing: 1px;
  margin-bottom: 13px;
  font-size: 12px;
}
.node.node-hash-tag-news.view-mode-full .ds-left .field.field-name-field-news-hashtags .field-item.even, .node.node-hash-tag-news.view-mode-full .ds-left .field.field-name-field-news-hashtags .field-item.odd {
  display: inline;
  float: left;
  margin-right: 7px;
}
.node.node-hash-tag-news.view-mode-full .ds-left span.a2a_kit.a2a_kit_size_32.a2a_target.addtoany_list {
  clear: both;
}
.node.node-hash-tag-news.view-mode-full .ds-left {
  clear: both;
  float: left;
}
.node.node-hash-tag-news.view-mode-full .ds-left span.a2a_kit.a2a_kit_size_32.a2a_target.addtoany_list, .node.node-hash-tag-news.view-mode-full .ds-left .field.field-name-node-link.field-type-ds, .node.node-hash-tag-news.view-mode-full .ds-left .field.field-name-field-news-comments {
  float: left;
  margin-right: 15px;
}
.node.node-hash-tag-news.view-mode-full .ds-left span.a2a_kit.a2a_kit_size_32.a2a_target.addtoany_list a, .node.node-hash-tag-news.view-mode-full .ds-left .field.field-name-node-link.field-type-ds a, .node.node-hash-tag-news.view-mode-full .ds-left .field.field-name-field-news-comments {
  color: #ff0036;
  font-size: 14px;
  display: block;
  margin-top: 5px;
}
.node.node-hash-tag-news.view-mode-full .ds-left span.a2a_kit.a2a_kit_size_32.a2a_target.addtoany_list a span.a2a_svg.a2a_s__default.a2a_s_a2a.a2a_img_text {
  display: none;
}
.node.node-hash-tag-news.view-mode-full .ds-right .field.field-name-field-news-retweets.field-type-number-decimal, .node.node-hash-tag-news.view-mode-full .ds-right .field.field-name-field-news-favorites.field-type-number-decimal {
  display: inline;
  float: left;
  margin-left: 15px;
  color: #ff0036;
}
.node.node-hash-tag-news.view-mode-full *:before {
  margin-right: 5px;
}
section#block-block-12 .ficon {
  float: left;
  padding-right: 10px;
  opacity: 0.3;
}
.view.view-hashtags-news-listing.view-id-hashtags_news_listing .news-addtoany .view.view-hashtags-news-listing.view-id-hashtags_news_listing .news-viewnews a {
  color: #ff0036;
  font-size: 11px !important;
  text-decoration: none;
  letter-spacing: 0px;
}
div#a2apage_dropdown a.a2a_i:nth-child(5), div#a2apage_dropdown a.a2a_i:nth-child(6), div#a2apage_dropdown a.a2a_i:nth-child(7), div#a2apage_dropdown a.a2a_i:nth-child(8), .a2apage_wide.a2a_wide {
  display: none;
}
div#a2apage_dropdown {
  margin-top: 12px !important;
}
.a2a_mini {
  width: 200px !important;
  margin: 2px 0px 0px -20px !important;
  border: none !important;
  box-shadow: 1px 1px 20px #ccc, 0 0 20px #ccc, 0 0 20px #ccc;
}
.a2a_menu {
  overflow: inherit !important;
}
div#a2apage_cols_container {
  content: '' !important;
  position: absolute !important;
  width: 1px !important;
  height: 0px !important;
  border: 10px solid transparent !important;
  border-bottom-color: #ffffff !important;
  left: 46% !important;
  top: -20px !important;
  margin-left: -5px !important;
}
div#a2apage_mini_services a.a2a_i {
  visibility: collapse;
  width: 30px;
}
div#a2apage_mini_services span.a2a_svg {
  visibility: visible;
  width: 35px;
  height: 35px;
  margin: 0px;
}
.view.view-hashtags-news-listing.view-id-hashtags_news_listing .news-addtoany span.a2a_kit.a2a_kit_size_32.a2a_target.addtoany_list {
  line-height: 0px !important;
}
.comment {
  padding: 10px;
  color: #777777;
}
.body {
  padding-left: 24px;
  text-transform: capitalize;
}
.author {
  text-transform: capitalize;
  font-size: 13px;
  padding-bottom: 2px;
}
h2.block-title {
  margin: 0px;
  font-size: 17px;
  font-weight: bold;
  /*padding-bottom: 15px;*/
  color: black;
  padding-left: 5px;
  text-transform: uppercase;
}
section#block-menu-menu-news-category h2.block-title {
  display: none;
}
section#block-menu-menu-news-category ul.menu.nav {
  width: 100%;
  padding: 13px 13px 0px 13px;
}
section#block-menu-menu-category h2 {
  display: none !important;
}
.footer {
  margin-top: 10px;
}
a.btn.btn-default {
  font-size: 11px;
  color: white;
  font-weight: bold;
  background: #ff0036;
  padding: 12px 23px;
  text-align: center;
  float: left;
  border-color: white;
  border-radius: 4px;
  width: 100%;
}
a.btn.btn-default :hover {
  outline: none !important;
  border: none !important;
}
.sub-hashtg {
  width: 160px;
}
section#block-block-13 {
  margin: 20px auto 0px;
}
section#block-block-13 .sub-hashtg p {
  text-align: right;
  font-size: 10px;
  color: #777777;
  text-transform: uppercase;
}
.fa-question-circle-o {
  color: #777777;
}
i.fa.fa-angle-right {
  font-weight: 900;
  font-size: 22px;
}
.view.view-hashtags-news-listing.view-id-hashtags_news_listing ul.pager.pager-load-more a, #twitt-opt-reg .pager-load-more button {
  width: 96%;
  margin-bottom: 10px;
}
.view.view-hashtags-listing.view-id-hashtags_listing ul.pager.pager-load-more a, #twitt-opt-reg .pager-load-more button {
  padding: 0px 0px;
}
section#block-block-11 h2 {
  float: left;
  font-weight: bold;
  font-size: 19px;
  padding: 0px 14px;
  margin-top: 15px;
  letter-spacing: 1px;
}
section#block-block-11 h2 a {
  color: #ff0036;
}
section#block-block-11 p {
  float: right;
  font-size: 19px;
  padding: 10px;
}
section#block-block-11 {
  border: 1px solid #E2E2E2;
  border-radius: 3px;
  background-color: #F8F8F8;
  margin-bottom: 10px;
}
.view-id-hashtags_news_listing.view-display-id-block .views-row, .view-id-hashtags_news_listing.view-display-id-block .views-row .views-field.views-field-php {
  float: left;
  width: 100%;
}
.view.view-hashtags-news-listing {
  font-weight: bold;
  margin: 10px;
}
#block-system-main {
  margin: 10px;
}
.news-comments-count i.fa.fa-comment {
  padding-right: 6px;
}
.news-viewnews i.fa.fa-eye {
  padding-right: 6px;
}
.news-hashtags {
  font-size: 13px;
  letter-spacing: 1px;
  font: normal normal 16px/1.4 Helvetica, Roboto, "Segoe UI", Calibri, sans-serif;
}
.view-content {
  letter-spacing: 0.5px;
}
.dropdown-menu li:hover {
  visibility: visible;
}
.dropdown:hover .dropdown-menu {
  display: block;
  margin: 0px;
  border-top: none;
  border-radius: 0px;
}
button.btn.btn-primary:focus {
  background-color: #fff;
  outline: none;
}
button.btn.btn-primary:active {
  background-color: #fff;
}
div.ctools-modal-content .modal-content {
  /*  padding-top: 20%;*/
  box-shadow: none;
  border-bottom: none;
  border: none;
  /*overflow-y: scroll !important;*/
}
div#modalContent {
  left: 54% !important;
  top: 0px !important;
  position: absolute;
}
span#modal-title {
  display: none;
}
a.btn.btn-default:focus {
  background-color: #ff0036;
  outline: none;
  box-shadow: none;
}
a.btn.btn-default:active {
  background-color: #ff0036;
  outline: none;
  box-shadow: none;
}
.ds-left .field-items a {
  border: 1px solid #e2e2e2;
  border-radius: 20px;
  padding: 3px;
  background-color: #e2e2e2;
  color: #6f6f6f;
  text-decoration: none;
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: bolder;
}
.field.field-name-node-link.field-type-ds.field-label-hidden {
  display: none;
}
.field-items .field-item.even.fa.fa-comment {
  display: none;
}
.node.node-hash-tag-news.view-mode-full.clearfix {
  border: 1px solid #f8f8f8;
  background-color: #f8f8f8;
  padding: 20px 8px;
}
.views-field.views-field-nothing {
  float: left;
  width: 100%;
  margin: 15px 0;
}
section#block-system-main .news-left {
  width: 80%;
  float: left;
  margin-bottom: 10px;
}
section#block-system-main .news-left .news-hashtags a {
  color: #ff0036;
  text-decoration: none;
}
section#block-system-main .news-left .news-addtoany {
  float: left;
  margin-right: 10px;
  color: #ff0036;
  display: none;
}
section#block-system-main .news-left .news-viewnews {
  float: left;
  margin-right: 10px;
  color: #ff0036;
}
section#block-system-main .news-left .news-viewnews a {
  color: #ff0036;
  text-decoration: none;
}
section#block-system-main .news-left .news-comments-count {
  color: #ff0036;
  font-size: 13px;
  text-decoration: none;
  float: left;
  margin-right: 10px;
}
section#block-system-main .news-right {
  width: 20%;
  float: left;
}
section#block-system-main .news-right .news-retweets {
  color: #ff0036;
  float: right;
}
section#block-system-main .news-right .news-favorites {
  color: #ff0036;
  float: right;
}
.region.region-content {
  font-weight: bold;
}

/*login form css*/

form#user-login {
  width: 82%;
  margin: 0 auto;
  margin-top: 15%;
}
.popups-container {
  width: 400px;
  position: fixed;
  right: 0px;
  border: none;
  border-radius: 0px !important;
  top: 0;
}
.modal-header.popups-title {
  border: none;
  border-radius: 0px;
  min-height: 40px !important;
}
.form-item.form-item-name.form-type-textfield.form-group {
  padding-bottom: 10px;
}
.form-item.form-type-textfield label.control-label, .form-item.form-type-password label.control-label, .form-item.form-type-textfield label.control-label {
  display: none;
}
.page-hybridauth .form-item.form-type-textfield label.control-label, .page-hybridauth .form-item.form-type-password label.control-label, .page-hybridauth .form-item.form-type-textfield label.control-label,
.page-user-edit .form-item.form-type-textfield label.control-label, .page-user-edit .form-item.form-type-password label.control-label, .page-user-edit .form-item.form-type-textfield label.control-label {
  display: block;
}
/* css for login page */

.box {
  text-align: center;
}
.hasta-user-login-form-wrapper {
  width: 100%;
}
span.social.fb a:focus {
  color: #375a9c;
}
span.social.fb a:hover {
  color: #375a9c;
}
i.fa.fa-facebook-square.fa-3x {
  font-size: 60px;
  color: #375a9c;
}
i.fa.fa-twitter-square.fa-3x {
  color: #4fadf5;
  font-size: 60px;
}
i.fa.fa-google-plus-square.fa-3x {
  color: #e44f39;
  font-size: 60px;
}
.box h5:nth-child(2) {
  font-size: 20px;
  width: 100%;
  text-align: center;
  border-bottom: 2px solid #000;
  line-height: 0.1em;
  margin: 20px 0 20px;
  padding-top: 20px;
}
h5 span {
  background: #fff;
  padding: 0 10px;
  font-size: 16px;
}
button#edit-submit--2 {
  border: 1px solid #ff0036;
  background: #ff0026;
  color: #fff;
  width: 100%;
  font-weight: bold;
  text-transform: uppercase;
  padding: 6px 0px;
}
div#modalBackdrop {
  opacity: 0.8 !important;
}

/* css for Sign Up page */

input#edit-name--2, input#edit-name--3 {
  padding: 0px 20px 0px 35px;
  background-image: url(/sites/default/files/pictures/user1.png);
  background-repeat: no-repeat;
  padding-left: 35px;
  background-position: 6px;
  height: 42px;
}
.glyphicon-log-in:before {
  content: none !important;
}
.form-item.form-item-pass-pass1.form-type-password.form-group.col-sm-6.col-md-4.has-feedback {
  width: 100%;
  padding-top: 5px;
}
.form-item.form-item-pass-pass2.form-type-password.form-group.col-sm-6.col-md-4.has-feedback {
  width: 100%;
  padding-top: 5px;
}
input#edit-mail--2 {
  padding: 0px 20px 0px 35px;
  height: 42px;
  margin-top: -5px;
  background-image: url(/sites/default/files/pictures/mail1.png);
  background-repeat: no-repeat;
  padding-left: 35px;
  background-position: 8px;
}
input#edit-pass-pass2--2 {
  padding: 0px 20px 0px 35px;
  background-image: url(/sites/default/files/pictures/lock1.png);
  background-repeat: no-repeat;
  padding-left: 35px;
  background-position: 6px;
  height: 42px;
}
button#edit-submit--3 {
  width: 100%;
  padding: 7px 0px;
  background-color: #ff0036;
  border: #ff0036;
  font-size: 14px;
  font-weight: bold;
  height: 36px;
  color: #fff;
}
input#edit-pass-pass1--2, input#edit-pass--2 {
  padding: 0px 20px 0px 35px;
  background-image: url(/sites/default/files/pictures/lock1.png);
  background-repeat: no-repeat;
  padding-left: 35px !important;
  background-position: 6px;
  height: 42px;
}
form#user-register-form {
  width: 90%;
  margin: 0 auto;
}
input#edit-name {
  padding: 0px 20px 0px 35px;
  background-image: url(/sites/default/files/pictures/mail1.png);
  background-repeat: no-repeat;
  padding-left: 35px;
  background-position: 6px;
  height: 42px;
}
input#edit-pass {
  padding: 0px 20px 0px 35px;
  background-image: url(/sites/default/files/pictures/lock1.png);
  background-repeat: no-repeat;
  padding-left: 35px;
  background-position: 6px;
  height: 42px;
}
span.popups-close.close {
  position: relative;
  top: 10px;
  right: 10px;
  opacity: 0.8;
  background-image: none;
}
.login-footer h5 a, .register-footer h5 a {
  color: #ff0036;
  text-decoration: none;
}
.register-footer h5:first-child {
  border-bottom: 2px solid black;
  line-height: 1px;
  margin-top: 20px;
}
.login-footer h5 span, .register-footer h5 span {
  color: #ff0036;
}
.login-footer {
  position: fixed;
  bottom: 0px;
  width: 245px;
}
.register-footer h5:last-child {
  position: fixed;
  bottom: 0px;
  width: 22%;
  text-align: center;
  border-bottom: none;
  /*font-weight: bold;*/
}
section#block-system-main form#user-login .login-footer h5, section#block-system-main form#user-register-form .register-footer h5 {
  display: none;
}
.login-footer h5 {
  text-align: center;
  border-bottom: none;
  /*font-weight: bold;*/
}
.anonymous-links {
  display: flex;
}
.anonymous-links a:first-child {
  width: 49%;
  float: left;
  margin-right: 21px;
}
.anonymous-links a:last-child {
  width: 49%;
}
.page-node-23 .field-name-body.field-type-text-with-summary {
  padding: 11px 16px 0px 33px;
}
.anonymous-header {
  background-color: #f8f8f8;
  border-radius: 3px;
  border: 1px solid #e4e4e4;
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 40px;
  padding-left: 25px;
  # margin-top: 5px;
}
.anonymous-header h2 {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 0px;
  font-size: 25px;
  letter-spacing: 1px;
  margin-top: 17px;
}
.anonymous-header p {
  letter-spacing: 0.5px;
  font-weight: lighter;
}
body.page-node-23 h1.page-header {
  display: none;
}
body.page-node-23 ul.tabs--primary.nav.nav-tabs {
  display: none;
}
span.views-label.views-label-php {
  display: none;
}
form#views-exposed-form-hashtags-news-listing-page-1 {
  display: none;
}
section#block-block-5 {
  margin-top: 15px;
}
.help-block.password-help {
  display: none !important;
}
.has-feedback label~.form-control-feedback {
  top: 10px;
}
section#block-block-1 p {
  font-size: 13px;
  border-radius: 0px 0px 5px 5px;
  letter-spacing: 0.5px;
  font-weight: bold;
}
span.popups-close.close.fa.fa-times {
  width: auto;
  color: #ff0036;
  font-size: 28px;
  text-indent: 0%;
}

/* css for MYNEWS page */

.autocomplete-deluxe-container.autocomplete-deluxe-multiple {
  overflow: visible !important;
  margin-top: 100px;
  width: 550px;
}
span.autocomplete-deluxe-item {
  margin-top: 10px;
  top: 30px;
  right: 4px;
  color: #ff0036;
  background-color: #f6f6f6;
  border-radius: 7px;
  padding: 4px 22px 4px 10px;
}
a.autocomplete-deluxe-item-delete {
  background-color: #9ca2ae;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0px 18px 22px 0px;
  right: 0px;
  top: 0px;
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
}
body.sidebar-second.page-my-news.admin-menu div#edit-actions button#edit-submit {
  float: right;
  transform: translateY(-58px) !important;
  background-color: #ff0036;
  width: 300px;
  padding: 10px 0px;
}
.view-header {
  padding: 10px 15px;
  background-color: #f8f8f8;
  border-radius: 8px;
}
section#block-block-3 {
  position: relative;
  margin-top: 5px;
  /*padding: 0px 40px !important;*/
}
a.logo {
  text-align: center;
  left: 2px;
  padding-right: 0px;
  padding-top: 5px;
}
a.logo img {
  width: 70px;
  padding: 2px 0px;
}

/*the hashtag news text pop up*/

.modal {
  display: none;
  position: fixed;
  z-index: 2;
  padding-top: 100px;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  border: 1px solid #888;
  width: 85%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.close {
  color: #000;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover, .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.modal-header {
  padding: 2px 16px;
}
.modal-body {
  padding: 2px 16px;
}

/*end pop up*/


/*body.sidebar-second.page-home*/

section#block-block-1 {
  border-left: 1px solid #dbdbdb;
  width: 100%;
  height: 55px;
}
section#block-block-1 ul {
  padding: 9px 0px;
  width: 91%;
  margin: 0 auto;
}
ul li {
  text-align: center;
  list-style-type: none
}
section#block-block-1 ul li.login>a {
  text-decoration: none;
  color: #fff;
  box-shadow: 0 1px 2px 2px rgba(0, 0, 0, 0.1);
  background-color: #000;
  padding: 8px;
  border-radius: 4px;
  float: left;
  width: 47%;
  margin-right: 6%;
}
section#block-block-1 ul li.dropdown a.join {
  text-decoration: none;
  color: #fff;
  box-shadow: 0 1px 2px 2px rgba(0, 0, 0, 0.1);
  background-color: #ff0036;
  padding: 8px;
  border-radius: 4px;
  float: left;
  width: 47%;
}
section#block-block-1 ul.dropdown a {
  color: #000;
}
section#block-block-1 ul .dropdown a:first-child {
  color: #fff;
}
body.sidebar-second ul.dropdown-menu.dropdown-menu-right li a {
  margin: 5px auto;
  padding: 8px 0px;
  font-size: 11px;
  font-weight: bold;
  width: 130px;
}
ul li.logout {
  color: #fff;
  border: 1px solid #000;
  background-color: #000;
  padding: 8px 20px;
  margin: 0px;
  border-radius: 6px;
}
li.logout a {
  color: #fff;
}
a.btn.bg-facebook {
  background-color: #3556A3;
  padding: 8px 16px;
  color: #fff;
}
a.btn.bg-facebook:hover {
  background-color: #3556A3;
  box-shadow: 0 1px 2px 2px rgba(0, 0, 0, 0.1);
  color: #fff;
}
a.btn.bg-twitter {
  background-color: #00AEE3;
  padding: 8px 26px;
  color: #fff;
}
a.btn.bg-twitter:hover {
  background-color: #00AEE3;
  box-shadow: 0 1px 2px 2px rgba(0, 0, 0, 0.1);
  color: #fff;
}
a.btn.bg-google {
  background-color: #EF3B2C;
  padding: 8px 25px;
  color: #fff
}
a.btn.bg-google:hover {
  background-color: #EF3B2C;
  box-shadow: 0 1px 2px 2px rgba(0, 0, 0, 0.1);
  color: #fff;
}
.dropdown .dropdown-menu li:last-child a.btn.bg-email {
  border-color: #848484;
  color: #212121 !important;
}
a.btn.bg-email:hover {
  background-color: #fff;
  box-shadow: 0 1px 2px 2px rgba(0, 0, 0, 0.1);
  color: #000;
}
.masonry-item {
  position: absolute;
  border: none;
}
.navbar-header b span {
  color: #ff0036;
}
.navbar-header b {
  position: relative;
  float: left;
  padding-top: 9px;
  font-size: 18px;
  transform: translateX(-20px);
}
a.ctools-use-modal.ctools-modal-modal-popup-small.dropdown-toggle.ctools-use-modal-processed {
  color: #000;
}
body.sidebar-second .autocomplete-deluxe-container {
  margin-top: 0px;
  width: 100%;
  float: left;
  margin: 0px;
  padding: 0px;
  border: none;
  background: none;
}
body.sidebar-second .autocomplete-deluxe-container input#autocomplete-deluxe-input, #edit-field-news-hashtags-tid {
  float: left;
  padding: 10px;
  outline: none;
  box-shadow: none;
  width: 100% !important;
  border: solid 1px #dbdbdb;
  position: absolute;
  margin: 0px;
  border-radius: 7px;
}
.autocomplete-deluxe-highlight-char {
  color: #ff0036;
}
section.col-md-10.no-gutter {
  float: left;
}
.autocomplete-deluxe-throbber.autocomplete-deluxe-closed {
  display: none;
}
section#block-block-14 p a {
  color: #222222;
  font-size: 23px;
  float: right;
  padding-right: 7%;
  padding-top: 7%;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: -2px;
  font-family: unset;
}
section#block-block-14 p a:hover {
  text-decoration: none;
}
section#block-block-14 p img {
  width: 65px;
  height: 40px;
  bottom: 4px;
  position: relative;
}
section#block-block-1 .dropdown:hover .dropdown-menu {
  width: 110%;
  margin: 37px -5% 0px 0px;
  padding: 23px 0px;
}
section#block-block-1 .dropdown:hover .dropdown-menu:before {
  position: absolute;
  width: 1px;
  height: 1px;
  border: 5px solid transparent;
  border-bottom-color: #313131;
  left: 50%;
  top: -10px;
  margin-left: -5px;
}
button#edit-submit-hashtags-news-listing, button#edit-submit-taxonomy-term {
  font-size: 12px;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  background: #ff0036;
  padding: 8px;
  text-align: center;
  margin-top: 45px;
  border: none;
  margin-bottom: 15px;
  width: 100%;
  border-radius: 4px;
}
section#block-block-16 {
  clear: both;
  padding: 0 14px;
  position: relative;
  top: -10px;
}

/* Hashtag Listing */

.news-body {
  word-wrap: break-word;
}
.news-addtoany i {
  position: relative;
  top: 2px;
}
.news-favorites {
  text-align: left;
  color: #a0a0a0;
  margin: 5px 0px !important;
  font: normal normal 16px/1.4 Helvetica, Roboto, "Segoe UI", Calibri, sans-serif;
}
.news-favorites i {
  /*  color: #000 !important;*/
}
.news-retweets a {
  background: #55acef;
  border-radius: 5px;
  color: #ffffff;
  text-decoration: none;
  border-radius: 4px;
  padding: 5px;
  display: block;
  text-align: center;
  border-radius: 7px;
  margin-top: 3px;
}
.news-retweets i {
  color: #ffffff !important;
}

/* Sidebar Sliding */

.page-node-add-hash-tag-news .sliding-bar {
  border: none;
}
.page-node-add-hash-tag-news .well {
  background: none !important;
  border: none !important;
}
a.sidebar-arrow {
  display: none;
  color: #212121;
}
.sliding-bar {
  background: #ffffff;
  border-left: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4;
}
.open {
  right: 0;
}

/* main left menu */

.news-comments-count.col-md-6.no-gutter {
  background-color: #202020;
  text-align: center;
  color: white !important;
  font-size: 13px !important;
  padding: 8.5px;
  border-radius: 0px 0px 0px 7px;
  height: auto;
}
.news-viewnews.col-md-6.no-gutter {
  background-color: #ff1e36;
  text-align: center;
  font-size: 13px !important;
  padding: 8.5px 0px !important;
  border-radius: 0px 0px 7px 0px;
}
.news-viewnews.col-md-6.no-gutter a {
  color: white !important;
}
.news-viewnews span {
  color: white !important;
}
.news-accountno-date.gutter {
  padding: 10px 0px;
  top: 5px !important;
  position: relative;
  font-size: 10px;
}
.news_top_image.col-md-12.no-gutter {
  margin-bottom: -11px !important;
}
.news_category {
  padding: 7px 0px !important;
}
.news-accountno-category a {
  color: #ff0036;
  margin-bottom: -3px;
  float: left;
  font-size: 15px;
  text-decoration: none;
  font: normal normal 16px/1.4 Helvetica, Roboto, "Segoe UI", Calibri, sans-serif;
}
.news_category img {
  width: 44px;
  height: 44px;
  position: relative;
  float: left;
  bottom: 7px;
  border-radius: 4px 4px 4px 4px;
  margin: 0px 6px 0px 0px;
}

/* feed hover */

.masonry-item:hover {
  background-color: #fff;
  margin-bottom: 10px;
}
.news-comments-count.no-gutter:hover {
  color: #ff0036;
}
.news-accountno-category a:hover {
  color: black;
}
.masonry-item:hover .news-accountno-date:hover {
  color: #ff0036;
}
.news-viewnews:hover {
  background-color: #eb3c40;
  border-radius: 30px;
}
.masonry-item:hover .news-retweets a {
  background-color: #ff0036;
}
.news-favorites:hover {
  color: #ff0036;
}
.view .news-hashtags a:hover {
  color: #eb3c40;
}
.masonry-item:hover .news-body {
  color: #ff0036;
}
.news-hashtags a:hover .news-hashtags a:last-child {
  color: black;
}
.news-addtoany. {
  /*visibility: hidden;*/
  text-align: right;
}
.masonry-item:hover .news-addtoany {
  visibility: visible;
}
.news-favorites {
  display: none;
  color: #a0a2ae;
  font-size: 17px;
}
i.fa.fa-heart-o {
  color: #ff1e36;
}
.masonry-item .news-favorites {
  visibility: visible;
  text-align: left;
  position: relative;
  top: 7px;
}
.masonry-item {
  visibility: visible;
  text-align: left;
  position: relative;
  top: 7px;
  background-color: #fff;
  margin: 0 !important;
  padding: 5px;
}
.masonry-item .views-field.views-field-nothing, .masonry-item.row-ad img {
  border: solid 1px #dddddd;
  padding: 10px;
  border-radius: 10px;
  padding: 15px;
  margin: 0px;
}
.news-accountno-date.gutter {
  visibility: visible;
}
.masonry-item:hover .news-accountno-date.gutter {
  visibility: visible;
}

/* News Category */

.nws-ctg-lst {
  padding: 0 2px;
}
.nws-ctg-lst .views-field.views-field-name {
  text-align: left;
  margin-top: -40px;
  padding: 5px 0px;
  position: relative;
  background: linear-gradient(to bottom, transparent, #212121);
}
.nws-ctg-lst .views-field span a {
  padding: 0px 10px;
  color: #fff;
}
.news-created-date {
  color: #a0a2ae;
  margin-top: -2px;
  font: normal normal 10px/1.4 Helvetica, Roboto, "Segoe UI", Calibri, sans-serif;
}
.news-accountno-date {
  font-size: 15px;
  word-break: break-all;
}
i.fa.fa-clock-o {
  color: #02a0fb!important;
}
i.fa.fa-comment-o {
  color: #212121!important;
  position: relative;
  top: -1px;
}
.news-comments-count {
  color: #a0a2ae;
  font-size: 14px;
  text-align: center;
  padding-top: 8.5px !important;
  position: relative;
  /*top: 15px;*/
  left: 15px;
  font: normal normal 16px/1.4 Helvetica, Roboto, "Segoe UI", Calibri, sans-serif;
}
.tweet-listing iframe {
  margin: 0 auto;
}
a.a2a_dd.addtoany_share_save {
  color: #212121;
  font-size: 14px;
  top: 6px;
  position: relative;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 10px 0px;
  line-height: 0px;
}
a.a2a_dd.addtoany_share_save:before {
  display: none;
}
.grad-back {
  background: linear-gradient(to top, #212121, 25px, transparent);
  width: 100%;
  height: 30px;
  position: relative;
  top: -35px;
  margin: 0 auto;
}
.menu-image {
  background-repeat: no-repeat;
  background-size: cover;
  height: 140px;
  border-radius: 6px;
  padding: 0px;
  overflow: hidden;
  border: solid 2px #FFF;
}
.menu-image-breaking {
  background-image: url(/sites/all/themes/hashtag/images/Breaking.jpg);
}
.menu-image-politics {
  background-image: url(/sites/all/themes/hashtag/images/Politics.jpg);
}
.menu-image-sports {
  background-image: url(/sites/all/themes/hashtag/images/Sport.jpg);
}
.menu-image-business {
  background-image: url(/sites/all/themes/hashtag/images/Business.jpg);
}
.menu-image-editorial {
  background-image: url(/sites/all/themes/hashtag/images/Editorial.jpg);
}
.menu-image-entertainment {
  background-image: url(/sites/all/themes/hashtag/images/Entertainment.jpg);
}

/* About Page */

.about-page-content {
  margin: 10px 15px;
}

/* Terms & Conditions Page */

.about-page-content {
  margin: 10px 15px;
}

/* top right comments */

.news-body. {
  font-size: 17px;
  color: #9fa2ac;
  padding-top: 10px !important;
}
r.region .region-footer>i.fa.fa-twitter {
  position: relative;
  bottom: 10px;
}
section#block-views-hashtags-listing-popular-tags.sticky {
  position: fixed;
  width: 100%;
  z-index: 220;
  /*background: #fff;*/
  top: 0;
}
.navigation-div.sticky {
  position: fixed;
  /* width: 100%; */
  z-index: 100;
  right: 0;
  top: 18px;
  background-color: #fff;
}
#block-menu-menu-news-category.stick {
  position: fixed;
  width: 83.4% !important;
  z-index: 200;
  top: 0;
  margin-top: -90px;
  background-color: #fff;
}
.sliding-bar .block-views .views-exposed-form.sticky {
  position: fixed;
  width: 16.66%;
  z-index: 1;
  top: 73px;
  background-color: #fff;
}

/*AboutUS and T&C pages*/

.node-type-page ul.menu.nav, .page-node-16506 ul.tabs--primary.nav.nav-tabs, .page-node-16506 h1.page-header, .node-type-page ul.tabs--primary.nav.nav-tabs {
  display: none;
}
.node-type-page section.hashtag-list {
  padding-left: 32px !important;
  padding-right: 32px !important;
}

/* news feed bottom button */

.news-viewnews {
  float: left;
  font: normal normal 16px/1.4 Helvetica, Roboto, "Segoe UI", Calibri, sans-serif;
  margin: 10px 0px !important;
}
.news-viewnews.match-height a {
  text-align: center;
  border: 1px solid #ff0000;
  border-radius: 30px;
  padding: 5.7px 0px;
  float: left;
  width: 100%;
  color: #ff0000;
}
.news-viewnews.match-height a:hover {
  text-decoration: none;
  color: #ffffff;
  background-color: #ff0037;
}
.news-addtoany a {
  text-align: center;
  border: 1px solid #50ABF0;
  background-color: #50ABF0;
  color: white !important;
  border-radius: 4px;
  width: 100%;
  height: 60px;
  padding: 23px 0px;
}
.news-addtoany a:hover {
  text-decoration: none;
}
div#a2apage_dropdown {
  margin: 5px 1% !important;
}
.views-field.views-field-field-news-retweets {
  display: none;
}
.page-node-add-add-news-article .tabbable.tabs-left.vertical-tabs, .page-node-add-add-news-article #block-menu-menu-news-category, .page-node-add-add-news-article #feeds-ex-configuration-wrapper, .page-node-add-add-news-article #edit-preview {
  display: none;
}
.page-node-add-add-news-article .control-label {
  display: block;
}
.page-node-add-add-news-article
i.fa.fa-share-square {
  padding-left: 5px;
}
.masonry-item .news-favorites {
  display: none;
}

/* Comment Page */

a.comment-back {
  position: absolute;
  width: 100%;
  background: #ff0036;
  color: #fff;
  text-align: center;
  padding: 15px;
  border-radius: 5px;
  margin-top: 30px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}

/* Article Page */

.art-cat a {
  color: #ff0036;
  font-weight: bold;
}
.art-hastag a {
  color: #ff0036;
  font-size: 12px;
  font-weight: normal;
}
.art-icon {
    padding: 1px 4px 1px 0px !important;
}
.art-icon img.img-responsive {
    margin: 2px 0px;
}
.art-time {
  color: #a0a2ae;
  font-size: 10px;
}
.art-detail img {
  width: 50%;
  clear: both;
  float: right;
}
.art-commets {
  text-align: right;
}
.view-more a {
  color: #ff0036;
  border: solid 2px #ff0036;
  border-radius: 20px;
  text-align: center;
  padding: 4px !important;
  text-decoration: none;
  cursor: pointer;
  width: 47%;
}
.art-share a {
  text-align: center;
  background-color: #50ABF0;
  color: white !important;
  padding: 8px !important;
  border-radius: 30px;
  width: 100%;
}
.short-text {
  height: 190px;
  overflow: hidden;
}
.field-name-field-featured-article-ad-code {
  width: 300px;
  margin: 10px auto;
}
.view-more {
  margin: 10px 0 0 !important;
}
.long-text {
  height: none;
}
.page-node-add-add-news-article .form-item-title label {
  display: block!important;
}
.page-node-add-add-news-article #edit-body, .page-node-edit.node-type-add-news-article #edit-body {
  margin-top: 50px;
}
.node-type-add-news-article section#block-system-main {
  margin: 20px;
}
.node-type-add-news-article .field-name-field-news-category a {
  color: #ff0036;
  font-size: 18px;
}
.node-type-add-news-article .field-name-field-news-hashtags .field-item {
  display: inline-block;
  padding-right: 10px;
}
.node-type-add-news-article .field-name-field-news-hashtags .field-item a {
  color: #ff0036;
}
.node-type-add-news-article .field-name-post-date {
  color: #a0a2ae;
}
.node-type-add-news-article .field.field-name-body {
  margin: 30px 0;
}

/* ReTweet Button */

.social-icons {
  display: none;
  height: 55px;
  box-shadow: 0 0 30px #212112;
  z-index: 1;
  background: #fff;
  top: 11px;
  border-radius: 10px;
  transition: all 2s linear;
}
.social-icons-trigger .a2a_kit a.a2a_button_twitter {
  background: #50ABF0;
  color: #fff;
  padding: 12px;
  width: 100%;
  text-align: center;
  border-radius: 20px;
  text-decoration: none;
  border: none;
  font-weight: normal;
  height: 100% !important;
}
.social-icons .a2a_kit {
  content: '' !important;
  position: absolute !important;
  width: 1px !important;
  height: 0px !important;
  border: 10px solid transparent !important;
  border-bottom-color: #ffffff !important;
  left: 46% !important;
  top: -20px !important;
  margin-left: -5px !important;
}
.social-icons a {
  position: relative;
  top: 20px;
  padding: 0 10px;
  background: none !important;
  padding: 0 10px !important;
  width: auto !important;
  border: none;
}
.social-icons-trigger {
  /*height: 50px;*/
}
.social-icons-trigger:hover .social-icons {
  display: block;
}
.art-detail img {
  text-align: left;
  margin-left: 11px;
}
.a2a_kit {
  position: relative;
}
.view-article-listing .social-icons {
  top: 46px;
}
.social-icons {
  position: absolute;
  top: 54px;
}
/*.art-content {
  border: 1px solid #eee;
  padding: 15px;
  box-shadow: 1px 1px 1px 2px #eee;
  border-radius: 10px;
}*/
.art-detail p {
  /*color: #a0a2ae;*/
}
#block-menu-menu-mobile-menu h2 {
  display: none;
}
section#block-block-46 {
  padding: 15px 15px 0px;
}
.mobile-menu-inner {
  width: 86%;
  background: #fff;
}
.region.region-mobile-menu #block-block-46 a {
  margin: 10px;
  text-decoration: none;
  color: #ff0036;
  font-size: 16px;
  font-weight: bold;
}
.region.region-mobile-menu #block-block-46 span {
  color: #ff0036;
  font-size: 16px;
  font-weight: bold;
}
.mobile-menu-close {
  top: 0;
}
.mobile-menu-close {
  top: -5px !important;
  font-size: 30px !important;
  right: -5px !important;
}
#block-menu-menu-mobile-menu ul#rm-removed a {
  padding: 6px 25px;
  border: none;
  color: #212121;
}
#block-menu-menu-mobile-menu ul#rm-removed a:hover {
  color: #ff0036;
}
.masonry-sizer {
  width: 25%;
  height: auto;
}
.masonry-item--width2 {
  width:  50%;
  height: auto;
}
section#block-block-41 {
  height: -webkit-fill-available;
}
section#block-block-41 .sub-hashtg {
  width: 100%;
}
section#block-block-41 .sub-hashtg a {
  text-align: left;
  font-size: 16px;
}
.ficon .fa.fa-clock-o {
  margin-right: 3px;
}
.responsive-menus.responsified.responsive-toggled.absolute .responsive-menus-simple {
  position: fixed;
}
a.sidebar-arrow {
  position: fixed;
  top: 25px;
  left: 15px;
  z-index: 998;
}
.art-detail img.in-article {
  width: 100%;
}
.mob-tweet-list > .col-xs-8 {
  min-height: 250px;
}
.page-node-edit.node-type-feed section.hashtag-list .page-header, .page-node-edit.node-type-feed .form-item.form-type-textfield label.control-label,
.page-node-add-feed section.hashtag-list .page-header, .page-node-add-feed .form-item.form-type-textfield label.control-label {
  display: block;
}
.page-node-edit.node-type-feed .tabbable.tabs-left.vertical-tabs, .page-node-edit.node-type-feed #block-menu-menu-news-category, .page-node-edit.node-type-feed #feeds-ex-configuration-wrapper, .page-node-edit.node-type-feed #edit-preview,
.page-node-add-feed .tabbable.tabs-left.vertical-tabs, .page-node-add-feed #block-menu-menu-news-category, .page-node-add-feed #feeds-ex-configuration-wrapper, .page-node-add-feed #edit-preview {
  display: none;
}
.page-node-edit.node-type-feed .control-label,
.page-node-add-feed .control-label {
  display: block;
}
.art-wrap .row:first-child {
    background: #f5f3f5;
    padding-top: 5px;
    padding-bottom: 5px;
    display: table;
    table-layout: fixed;
   /* height: 100%;
    width: 100%;*/
    margin-right: -5px;
}
.art-wrap .col-sm-6{
  vertical-align: middle;
  float: none;
  display: table-cell;
    float: none;
    height: 100%;
}
.art-wrap .six-col-rig-wrap {
    padding-top: 20px;
    vertical-align: middle;
    display: table-cell;
    float: none;
    height: 100%;
}
.art-wrap .six-col-rig-wrap h2 {
    border-top: 1px solid #bfbfbf;
    margin-top: 15px;
    padding-top: 8px;
    font-weight: bold;
    font-size: 25px;
}
.art-wrap .six-col-rig-wrap span:last-child {
    /* display: block;
    border-bottom: 1px solid #bfbfbf;
    padding-bottom: 10px;
    margin-bottom: 25px; */
}
.art-wrap .six-col-rig-wrap .addtoany_list.a2a_kit_size_32 a > span{     border-radius: 30px; }
.art-wrap .field.field-name-body {
  padding-bottom: 25px;
  border-bottom: 1px solid #bfbfbf;
}

body {
  font-size: 15.5px;
  line-height: 1.6666;
}

.view-hashtags-news-listing .art-detail img.media-element {
  display: none;
}

.view-article-listing .art-detail img.media-element {
display: none;
}

/* article news slider */
.node-type-add-news-article .owl-carousel .slider_image_wrapper {
    width: 50%;
    float: left;
}
.node-type-add-news-article .owl-carousel .slider_image_wrapper img.img-responsive {
    margin: 0px;
    width: 100%;
}
.node-type-add-news-article .owl-carousel .right_side_wrapper {
    width: 50%;
    float: left;
    padding-left: 20px;
    padding-right: 85px;
}
.node-type-add-news-article .owl-carousel .right_side_wrapper .slider_tittle_wrapper {
    font-size: 30px;
    line-height: normal;
    margin: 20px 0 15px;
    display: block;
    width: 100%;
    float: left;
}
.node-type-add-news-article .owl-carousel .right_side_wrapper .node_title {
    font-size: 20px;
    font-weight: normal;
    width: 78%;
    float: left;
    border-bottom: 1px solid #333;
}
.node-type-add-news-article .owl-carousel .owl-controls {
    margin-top: 0px;
    text-align: center;
    position: relative;
    width: auto;
    display: inline-block;
    float: right;
}
.node-type-add-news-article .owl-carousel .owl-controls .owl-buttons div{padding: 21px 30px;
    font-size: 48px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 0px;
    background: #f90f32;
    filter: Alpha(Opacity=50);
    opacity: 1;
    margin:0px;
    line-height: normal;
}
.node-type-add-news-article .owl-carousel .owl-controls .owl-buttons div.owl-prev {
    float: left;
    margin-right: 10px;
    font-size: 20px;
    padding: 17px 13px;
    text-transform: uppercase;
}
.node-type-add-news-article .owl-carousel .owl-controls .owl-buttons div.owl-next{
    float: right;
    padding: 0px 20px;
    text-transform: uppercase;
}

.node-type-add-news-article .owl-carousel .right_side_wrapper .slider_count {
    float: right;
    width: 20%;
    text-align: center;
    background: #333;
    color: white;
    font-size: 14px;
    padding: 6px 0;
}

.node-type-add-news-article .owl-carousel .right_side_wrapper .slider_description_wrapper {
    float: left;
    width: 100%;
}

.node-type-add-news-article .owl-carousel .right_side_wrapper .slider_external_link {
    display: none;
}
.node-type-add-news-article .owl-carousel .owl-item span.field-content{

display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
    
}
.node-type-add-news-article .owl-carousel .owl-item span.field-content  .right_side_wrapper, .node-type-add-news-article .owl-carousel .slider_image_wrapper {
   /* display: table-cell;
    float: none;
    height: 100%;
    vertical-align: middle; */
   float: left;
}

.node-type-add-news-article .owl-carousel .owl-item span.field-content .right_side_wrapper {
  max-height: 400px;
  overflow-y: auto;
}

#Leaderboard2 {
  text-align: center;
  margin-top: 10px;
}

.node-type-add-news-article .gallery-prev .gall-reg-wrap {
    position: absolute;
    top: 115px;
    left: 0px;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    padding: 40px;
}

.node-type-add-news-article .gallery-prev {
    position: relative;
}

.node-type-add-news-article .gallery-prev img.img-responsive{
    margin: 0px;
    width: 100%;

}
.node-type-add-news-article .gall_left {
    float: left !important;
    color: #fff;
}
.node-type-add-news-article .gall_right {
    float: right !important;
    display: inline-block !important;
    height: auto !important;
    background: #f90f32 ;
    max-width: 220px;
    padding: 10px 40px;
    border-radius: 110px;
    cursor: pointer;
    color: #FFF;
}

.node-type-add-news-article .gall_title {
    font-size: 25px;
}
.node-type-add-news-article .gall_created{
    font-size: 14px;
    font-weight: 100;
    letter-spacing: 1px;
}
.node-type-add-news-article .gall_right i.fa.fa-angle-right {
    font-size: 30px;
    position: absolute;
    top: 20px;
    right: 20px;
}
@media only screen and (max-width: 1260px) {

 .masonry-item {
       width: 50%;
   }
}
@media only screen and (max-width: 1024px) {
   .masonry-item {
       width: 50%;
   }
   .masonry-item--width2 {
       width: 50%;
   /* float: left;
    position: unset !important;
    left: unset !important;
    top: unset !important;*/
   }
   .node-type-add-news-article .owl-carousel .owl-item span.field-content .right_side_wrapper{
    max-height: 330px;
    overflow-y: scroll;
   }
}
@media only screen and (max-width: 992px) {
.hashtag-list {
    width: 100%;
}
.sliding-bar .block-views .views-exposed-form.sticky {
    width: 50%;
    z-index: 111111;
    top: 0px;
    border-bottom: 1px solid #f90f32;
    height: 107px;
    left: 0px;
}
.navigation-div.sticky {
    
    width: 50%;
    z-index: 999999999;
    padding: 26px 0px !important;
    top: 0px;
    height: 107px;
    border-bottom: 1px solid #f90f32;
}
.node-type-add-news-article #block-system-main {
      overflow: hidden;
}
.node-type-add-news-article .gallery-prev .gall-reg-wrap{
   top: 25%;
}
.node-type-add-news-article .owl-carousel .owl-item span.field-content .right_side_wrapper{
    max-height: 378px;
       overflow-y: scroll;
   }

}
@media only screen and (max-width: 768px) {
  .node-type-add-news-article .owl-carousel .owl-item span.field-content .right_side_wrapper{
    max-height: 288px;
       overflow-y: scroll;
   }

}

/* title link changes */
.article-title a {
   color: #333;
   font-size: 15.5px;
   line-height: 1.6666;
   font-weight: 700;
   text-decoration: underline;
}

.article-title a:hover {
   color: #337ab7; 
}

.article-title {
   margin-bottom: 10px;
}

.art_author {
   margin-bottom: 10px;
   text-decoration: underline;
}
.art_gall_title {
   border-top: 1px solid #bfbfbf;
   margin-top: 15px;
   padding-top: 8px;
   font-weight: bold;
   font-size: 25px;
   line-height: 1.2;
}
.art_gall_author {

}
.field-name-field-author label.control-label{
    display:inline !important;
}
.form-item-title label.control-label {
    display:inline !important;
}

/* jquery script implementation */

.masonry-ad-row .views-field.views-field-nothing {
  min-height: 290px;
}

.bottom-twitt  {
  margin-top: 10px;
}

.twittloader-trob {
  border: 3px solid #eee;
    border-radius: 50%;
    border-top: 3px solid #ef4434;
    width: 25px;
    height: 25px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    position: relative;
    top: 1px;
    left: 8px;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/*Loader Customization*/
#twitt-opt-reg .pager-load-more button{
 /* padding: 10px 0px; */
  height : 50px;
  cursor: pointer;
}

#twitt-opt-reg .news-hashtags a {
    color: #ff0036;
    text-decoration: none;
}



